<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Sign Language Translator</title>

    <script src="https://kit.fontawesome.com/a658a7b479.js" crossorigin="anonymous"></script>

    <link rel="icon" type="image/png" href="../docs/logo.png">
    <link rel="stylesheet" type="text/css" href="../static/style.css">

</head>


<style>
    body {
     background-color: #1f2833;
   }
   h1 {
     text-align: center;
   }
   footer{
            display: table;
            text-align: center;
            margin-left: auto;
            margin-right: auto;
                }
    </style>
<body>
    <br><br>
    <div class="aboutfooter" style="color:353d47">
        <div class="grid-container" style="background-color: #1f2833;align-content: center;">

            <div class="card"
                style="background-color: #353d47;border: none;color:#fafafa;margin-top: 30px;margin-bottom: 30px;">
    
                <div class="card-body text-center">
                    <h5 class="card-title text-center" style="font-family:Century Gothic,light;font-size:20px;color:#66fcf1;padding-bottom:10px;">
                        <br> Kunal Gurjar
                        <br>
                        <br>
                        <span class="text-center">
                            <a href="mailto:kunalslsgurjar@gmail.com">
                                <img src="https://img.icons8.com/color/30/000000/gmail.png">


                            </a>&nbsp
                            <a href="https://www.linkedin.com/in/kunal-gurjar">
                                <img src="https://img.icons8.com/color/28/000000/linkedin.png">
                            </a>&nbsp
                            
                            <a href="https://github.com/Laveen2001">
                                <img src="https://img.icons8.com/material-sharp/30/000000/github.png">

                            </a>
                        </span>

                    </h5>
                </div>
            </div>
            <div class="card"
                style="background-color: #353d47;border: none;color:#fafafa;margin-top: 30px;margin-bottom: 30px;">

                <div class="card-body">
                    <h5 class="card-title text-center" style="font-family:Century Gothic,light;font-size:20px;color:#66fcf1;padding-bottom:10px;">
                        <br> Laveen Chandwani
                        <br>
                        <br>

                        <span class="text-center">

                            <a href="mailto:laveenchandwani@gmail.com">
                                <img src="https://img.icons8.com/color/30/000000/gmail.png">


                            </a>&nbsp
                            <a href="https://www.linkedin.com/in/laveen-chandwani-aab0ab171/">
                                <img src="https://img.icons8.com/color/28/000000/linkedin.png">
                            </a>&nbsp
                            <a href="https://github.com/Laveen2001">
                                <img src="https://img.icons8.com/material-sharp/30/000000/github.png">

                            </a>
                        </span>

                    </h5>
                </div>
            </div>
            <div class="card"
                style="background-color: #353d47;border: none;color:#fafafa;margin-top: 30px;margin-bottom: 30px;">

                <div class="card-body">
                    <h5 class="card-title text-center" style="font-family:Century Gothic,light;font-size:20px;color:#66fcf1;padding-bottom:10px;">
                        <br> Pravin Maragale
                        <br>
                        <br>

                        <span class="text-center">
                            <a href="mailto:pravin1999maragale@gmail.com">
                                <img src="https://img.icons8.com/color/30/000000/gmail.png">


                            </a>&nbsp
                            <a href="https://www.linkedin.com/in/pravin-maragale-434969167">
                                <img src="https://img.icons8.com/color/28/000000/linkedin.png">
                            </a>&nbsp
                            <a href="https://github.com/Laveen2001">
                                <img src="https://img.icons8.com/material-sharp/30/000000/github.png">

                            </a>
                        </span>

                    </h5>
                </div>
            </div>
            <div class="card"
                style="background-color: #353d47;border: none;color:#fafafa;margin-top: 30px;margin-bottom: 30px;">
                <div class="card-body text-center">
                    <h5 class="card-title text-center" style="font-family:Century Gothic,light;font-size:20px;color:#66fcf1;padding-bottom:10px;">
                        <br> Jaydeep Khilari
                        <br>
                        <br>
                        <span class="text-center">
                            <a href="mailto:jaydk172@gmail.com">
                                <img src="https://img.icons8.com/color/30/000000/gmail.png">


                            </a>&nbsp
                            <a href="https://www.linkedin.com/in/jaydeep-khilari-6b95541b5">
                                <img src="https://img.icons8.com/color/28/000000/linkedin.png">
                            </a>&nbsp
                            <a href="https://github.com/Laveen2001">
                                <img src="https://img.icons8.com/material-sharp/30/000000/github.png">

                            </a>
                        </span>

                    </h5>
                </div>
            </div>
            <div class="card"
                style="background-color: #353d47;border: none;color:#fafafa;margin-top: 30px;margin-bottom: 30px;">
                <div class="card-body text-center">
                    <h5 class="card-title text-center" style="font-family:Century Gothic,light;font-size:20px;color:#66fcf1;padding-bottom:10px;">
                        <br> Ashwin Sonare
                        <br>
                        <br>
                        <span class="text-center">
                            <a href="mailto:ashwinsonare2000@gmail.com">
                                <img src="https://img.icons8.com/color/30/000000/gmail.png">


                            </a>&nbsp
                            <a href="https://www.linkedin.com/in/ashwin-sonare-568969173">
                                <img src="https://img.icons8.com/color/28/000000/linkedin.png">
                            </a>&nbsp
                            <a href="https://github.com/Laveen2001">
                                <img src="https://img.icons8.com/material-sharp/30/000000/github.png">

                            </a>
                        </span>

                    </h5>
                </div>
            </div>
            
    </div>
</body>
